/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for running the pipeline on a local machine with limited resources
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus  : 8,
        memory: '20.GB',
        time  : '24.h'
    ]
}
