/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/ncrnaflow -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Full-size test: human chromosome 22 (ensembl-vertebrates mode)
    // Rfam reference files must be supplied by the user or set in a site config.
    // rfam_cm   = '/path/to/Rfam.cm'
    // rfam_seed = '/path/to/Rfam.seed'

    mode  = 'ensembl-vertebrates'
    fasta = params.pipelines_testdata_base_path + 'ncrnaflow/genome/test_genome_full.fa'
}
